<section id="countdown">
  <div class="countdown-date">
    <h2 class="font-secondary text-color-contrast my-md">Save the date</h2>
    <h2 class="text-color-contrast my-md">30 de marzo del 2025</h2>
    <p class="text-color-contrast my-md">Culiacán, Sin.</p>
  </div>
  <div class="countdown-details">
    <div class="countdown-details-box box-shadow-1">
      <p id="days" class="countdown-details-box--value"></p>
      <p class="countdown-details-box--item">Días</p>
    </div>

    <p class="countdown-details-divider">:</p>

    <div class="countdown-details-box box-shadow-1">
      <p id="hours" class="countdown-details-box--value"></p>
      <p class="countdown-details-box--item">Horas</p>
    </div>

    <p class="countdown-details-divider">:</p>

    <div class="countdown-details-box box-shadow-1">
      <p id="minutes" class="countdown-details-box--value"></p>
      <p class="countdown-details-box--item">Minutos</p>
    </div>

    <p class="countdown-details-divider">:</p>

    <div class="countdown-details-box box-shadow-1">
      <p id="seconds" class="countdown-details-box--value"></p>
      <p class="countdown-details-box--item">Segundos</p>
    </div>
  </div>
</section>
