<section class="dress-code section">
  <h2>Código de vestimenta</h2>
  <div class="dress-code__block">
    <div class="dress-code__block__men">
      <div>
        <p class="text-color-secondary bold-500">Hombres</p>
        <ul>
          <li>Corbata sencilla</li>
          <li>Camisa</li>
          <li>Saco y pantalón de vestir</li>
          <li>Zapatos</li>
        </ul>
      </div>
      <img
        src="./assets/img/dress-code-men.png"
        alt="Codigo de vestimenta hombres"
      />
    </div>
    <div class="dress-code__block__women">
      <div>
        <p class="text-color-secondary bold-500">Mujeres</p>
        <ul>
          <li>Vestido largo</li>
          <li>Tacones</li>
        </ul>
        <p class="dress-code__block__women__omit text-color-secondary">
          <b>Omitir Colores:</b>
        </p>
        <ul>
          <li>Blanco y rojo</li>
        </ul>
      </div>
      <img
        src="./assets/img/dress-code-women.png"
        alt="Codigo de vestimenta mujeres"
      />
    </div>
  </div>
</section>
