<section class="mesa-regalos section">
  <h2>Regalos</h2>
  <div class="mesa-regalos__block">
    <div class="mesa-regalos__block__item">
      <img src="./assets/img/mesa_regalos_1.png" alt="Mesa de regalos 1" />
      <div class="mesa-regalos__block__item__info">
        <p class="text-color-secondary bold-500">Transferencia</p>
        <p class="text-color-accent">Banco</p>
        <p class="text-color-secondary">Nombre completo</p>
        <p>0000-0000-0000-0000</p>
      </div>
    </div>

    <div class="mesa-regalos__block__item">
      <img src="./assets/img/mesa_regalos_2.png" alt="Mesa de regalos 2" />
      <div class="mesa-regalos__block__item__info">
        <p class="text-color-secondary bold-500">Mesa de regalos</p>
        <p class="text-color-accent">Liverpool</p>
        <p class="text-color-secondary">Nombre completo</p>
        <p>0000-0000-0000-0000</p>
        <a
          class="text-color-accent"
          target="_blank"
          href="https://www.liverpool.com.mx/tienda/home"
          >Ver mesa de regalos</a
        >
      </div>
    </div>
  </div>
</section>
