<section id="nupcial">
  <h3 class="nupcial-title text-center">
    Acompañanos a celebrar nuestra unión, en compañía de nuestros:
  </h3>

  <h2 class="text-center font-secondary text-color-accent">Padres</h2>
  <div class="nupcial-parents">
    <div class="nupcial-parents-left">
      <p>Luis Fernando Lopez Gomez</p>
      <p>Guadalupe Hernandez Diaz</p>
    </div>

    <div class="nupcial-parents-right">
      <p>Carlos Armando Gonzalez Morales</p>
      <p>Maria Josefina Aguilar Castro</p>
    </div>
  </div>

  <div class="nupcial-padrinos">
    <div class="nupcial-padrinos-lazo">
      <h2 class="text-center font-secondary text-color-accent">
        Padrinos de lazo
      </h2>
      <p>Luis Fernando Lopez Gomez</p>
      <p>Guadalupe Hernandez Diaz</p>
    </div>
    <div class="nupcial-padrinos-anillos">
      <h2 class="text-center font-secondary text-color-accent">
        Padrinos de anillos
      </h2>
      <p>Carlos Armando Gonzalez Morales</p>
      <p>Maria Josefina Aguilar Castro</p>
    </div>
  </div>

  <div id="ceremony"></div>
  <div id="reception"></div>
</section>
