<section id="rsvp" class="confirmation section">
  <h2>Confirma tu Asistencia</h2>
  <h3 class="my-md text-center text-color-primary">
    Para nosotros es muy importante que <br />
    nos acompañes, por favor ayúdanos confirmando su asistencia.
  </h3>
  <div class="confirmation__link__wrapper">
    <a
      class="confirmation__link text-color-contrast py-md mt-md"
      href="https://wa.me/+526681525096?text=Hola,%20mi%20nombre%20es%20_%20y%20quiero%20confirmar%20mi%20asistencia"
      target="_blank"
      >Confirmar</a
    >
  </div>
</section>
