.floating {
  position: absolute;
}
.in-line {
  display: inline;
  text-align: center;
  width: 100%;
}
.columns {
  display: flex;
  justify-content: center;
  height: 7em;
  width: 100%;
  top: 10%;
}
.no-margin {
  margin: 0;
}
header {
  .bigger-text {
    font-size: 4em;
  }
  .banner-text {
    display: contents;
    position: relative;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);

    h2.getting-married {
      font-size: 2em;
      color: var(--color-contrast);
    }

    h1.groom {
      color: var(--color-contrast);
      font-size: 4.5em;
      margin-right: 10px;
    }
    h1.and {
      font-size: 2em;
      position: relative;
      top: 40px;
      color: var(--color-contrast);
    }
    h1.bride {
      font-size: 4.5em;
      position: relative;
      top: 30px;
      color: var(--color-contrast);
    }
  }
  .banner-img {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    max-width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* Laptop y superiores */
@media (min-width: 1024px) {
  .floating {
    position: initial;
  }

  header {
    display: flex;
  }
  .bigger-text {
    font-size: 5em;
  }
  .banner-text {
    flex: 1;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    text-shadow: none !important;
    h2.getting-married {
      color: var(--color-secondary) !important;
    }
    .groom {
      color: var(--color-accent) !important;
    }
    .and {
      color: var(--color-accent) !important;
    }
    .bride {
      color: var(--color-accent) !important;
    }
  }
  .banner-img {
    flex: 1;
    width: 100%;
    height: auto !important;
    img {
      width: 100%;
      height: auto;
      max-height: 450px;
      border-radius: 999em 40px 40px 999em;
    }
  }
}

@media (min-width: 1280px) {
  .banner-img {
    img {
      margin-bottom: -4px;
    }
  }
}
