.dress-code {
  margin-bottom: 2em;

  ul {
    list-style: none;
    padding-left: 0;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
  }

  img {
    margin-top: 1em;
    width: 150px;
    border-radius: 24px;
  }
}

.dress-code__block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 2em;
}

.dress-code__block__women__omit {
  font-size: 12px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

/* Tablets y superiores */
@media (min-width: 768px) {
  .dress-code {
    ul {
      font-size: 1em;
    }
    img {
      width: 165px;
    }
  }

  .dress-code__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .dress-code__block__men,
  .dress-code__block__women {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 25px;
    align-items: center;
  }

  .dress-code__block__women__omit {
    font-size: 1em;
  }
}
